<p>
  student-list works!
</p>

<div class="text-center mt-3">
  <h2>All Students - {{pagination.totalItems}} found</h2>
</div>

<div class="container mt-3">

  <form class="form-inline" #form="ngForm" (ngSubmit)="loadStudents()" novalidate>

      <div class="form-group px-2">
        <label for="gender">Show: </label>
        <select class="form-control ml-1" style="width: 130px" id="gender"
          [(ngModel)]="studentParams.gender" name="gender">
          <option *ngFor="let gender of genderList" [value]="gender.value">
            {{gender.display}}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
      <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">
          Reset Filter
      </button>


    </form>
    <br>


<!-- <div class="row">
  <div *ngFor="let student of students" class="col-lg-2 col-md-3 col-sm-6">
     <app-student-card [student]="student"></app-student-card>
  </div>
</div>
 -->

  <div class="container">
      <header>
          <h3>
              <span class="glyphicon glyphicon-user"></span>
              {{pagination.totalItems}}
          </h3>
      </header>
      <br />
      <div class="row">
          <div class="col-md-8">
              <div class="navbar">
                  <filter-textbox (changed)="filterChanged($event)"></filter-textbox>
              </div>
          </div>
          <div class="navbar">
              <!-- <a class="btn btn-default" [routerLink]="['/student/edit', '0']">Add New Student</a> -->
              <a class="btn btn-sm btn-info text-white" (click)="addNewStudent(0)"><i class="fa fa-plus"> Add New Student </i></a>
          </div>
      </div>

      <app-student-grid [students]="filteredStudents"></app-student-grid>


    </div>
</div>

<div class="d-flex justify-content-center">
<pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>
</div>
